on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: zulu
    - uses: sbt/setup-sbt@v1
    - run: sbt -J-Xmx6G -J-Xss16m scalafmtSbtCheck scalafmtCheckAll compile chudnovsky/run
